* {
    margin: 0;
    padding: 0;
   }

header{
    display: flex;
    justify-content:right;
}
.contenedorheader{

    display: flex;
    justify-content: center;

}
.contenedor-creadores{
    display:flex;
    justify-content:center;
    width: 90%;
    color: rgb(35, 35, 35);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    animation-name: textos;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
@keyframes textos {
  
    0% {
        color: rgb(33, 31, 31);
        font-size: 100%;
        width: 10%;
       }
    25% {
        color: rgb(26, 116, 26);
        width: 30%;
        font-size: 150%;
       }
    50% {
        color: rgb(122, 21, 92);
        width: 30%;
        font-size: 190%;
       }
    75% {
        color: rgb(33, 146, 171);
        width: 30%;
        font-size: 250%;
       }   
    100% {
        color: rgb(255, 255, 255);
        width: 100%;
        font-size: 300%;
    }
  }

  .producto-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px;
    width: 200px;
}

.producto-card h3 {
    margin: 0 0 10px;
}

.producto-card p {
    margin: 5px 0;
}

